pipeline/child_Ingestion_Product_Addres_To_JSON.json
{
	"name": "child_Ingestion_Product_Addres_To_JSON",
	"properties": {
		"activities": [
			{
				"name": "count address records",
				"description": "count address records",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) address_record_count from\nsaleslt.address ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_Generic_DS",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "saleslt",
							"TableName": "address"
						}
					}
				}
			},
			{
				"name": "Address count records greater than 100",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "count address records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('count address records').output.firstRow.address_record_count,100)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy Address data to Adls",
							"description": "Copy Address data to Adls",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SQL_Generic_DS",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "saleslt",
										"TableName": "address"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ADLS_Generic_DS_2",
									"type": "DatasetReference",
									"parameters": {
										"filepath": "Address"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-07-06T08:21:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}