pipeline/Ingestion_Product_To_JSON.json
{
	"name": "Ingestion_Product_To_JSON",
	"properties": {
		"activities": [
			{
				"name": "Count Product table records",
				"description": "Count Product table records",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*)  as count from saleslt.product",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_Generic_DS",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "saleslt",
							"TableName": "Product"
						}
					}
				}
			},
			{
				"name": "Check Product Count is greater than 10",
				"description": "Check Product Count is greater than 10",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Count Product table records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Count Product table records').output.firstRow.count,10)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy Product data to ADLS",
							"description": "Copy Product data to ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SQL_Generic_DS",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "saleslt",
										"TableName": "product"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ADLS_Generic_JSON_DS",
									"type": "DatasetReference",
									"parameters": {
										"filepath": "Product_Json"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-07-10T16:31:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}